*{
	margin:0;
	padding:0;
}

.main {
	margin:10px;
}

.zgornji{
	border:1px solid lightgrey;
	width:350px;
	margin: auto;
	text-align:center;
}
.ig{
	height:51px;
	width:175px;
	margin:50px 0 30px;
}
.input{
	height:30px;
	width:250px;
	margin-bottom:5px;
	font-size:12px;
	border-color:lightgrey;
}
.login{
	height:30px;
	width:253px;
	margin-top:10px;
	border-radius:7px;
	background:#808dfb;
	border-style:none;
	color:white;
	font-weight:bold;
}
.or{
	display:flex;
	align-items:center;
	text-align:center;
	margin:0 50px;
}
.or hr{
	flex:1;
}
.or a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0 10px;
}
.fbDiv{
	margin-top:15px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-style:none;
}
.fb{
	font-family:Arial, Helvetica, sans-serif;
	color:#0095f6;
	font-weight:bold;
	text-decoration:none;
	font-size:14px;
	padding-left:5px;
}

.pass{
	font-family:Arial, Helvetica, sans-serif;
	color:black;
	font-size:14px;
	font-weight:bold;
	text-decoration:none; 
}
.pass:hover{
	text-decoration:underline;
}

.spodi{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:grey;
	width:300px;
	padding-top:16px;
	padding-bottom:16px;
	border-style:none;
	margin:0 auto;
}
.report{
	font-size:13px;
	color:#6f64fb;
	text-decoration:none;
}
.report:hover{
	text-decoration:underline;
}
.spodnji{
	margin-top:10px;
	height:60px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.sup{
	text-decoration:none;
	color:#6f64fb;
	padding-left:2px;
}
.dno{
	display:flex;
	list-style-type:none;
	flex-wrap:wrap; /*za zadnji element*/	
	justify-content:center;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:52px;
}
.dno li{
	padding:8px;
}
.dno li:last-child{ /*zadnji element v select tag, ki mora biti pod ostalimi*/
	flex-basis:100%; /*zadnji element zavzame celo vrstico, da gre pod ostale*/
	text-align:center;
}
.dno a{
	text-decoration:none;
}
.dno a, li, select{
	color:grey;
	font-size:12px;
	font-weight:lighter;
	border-style:none;
	background:white;
}
.dno a:hover{
	text-decoration:underline;
}
.dno select{
	border-style:none;
	width:65px;
	margin-right:10px;
}
button, select{
	cursor:pointer;
}
/*.appGet{
	display:flex;
	justify-content:center;
	margin:20px 0;
}
.app{
	display:flex;
	justify-content:center;
}
.appLevo{
	border:1px solid grey;
	height:40px;
	display:flex;
	align-items:center;
	border-radius:5px;
	width:134px;
	background:black;
	color:white;
}
.gumbLevo{
	border:none;
	width:134px;
	margin-right:10px;
}
.appDesno{
	border:1px solid grey;
	height:40px;
	display:flex;
	align-items:center;
	width:110px;
	background:black;
	color:white;
}
.gumbDesno{
	border:none;
	width:110px;
}
.app img{
	width:30px;
	height:30px;
	padding-left:5px;
}
.appText{
	display:flex;
	flex-direction:column;  //teksta sta en pod drugim
	padding:5px;
}
.appPrvi{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:bold;
	text-align:left;
}
.appDrugi{
	font-family:Arial, Helvetica, sans-serif;
}*/